<h1>Viewing Party Lite</h1>

<h2><%= @page_title %></h2>


<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>

<% @movies.each do |movie| %>
    <div id="movie-<%= movie.id %>">
        <p>
            <%= link_to "#{movie.title}", user_movie_path(@user, movie.id) %> |
            Vote Average: <%= movie.vote_average %>
        <p>
    </div>
<% end %>
