<h1>Viewing Party Lite</h1>

<h2><%= @movie.title %></h2>

<%= button_to "Discover Page", discover_index_path, method: :get %>

<%= button_to "Create Viewing Party for #{@movie.title}", new_movie_party_path(@movie.id), method: :get%>

<p><%=
  "Vote Average: #{@movie.vote_average}  |
  Runtime: #{@movie.hr_min_runtime}  |
  Genre(s): #{@movie.genres}"%>
</p>

<hr>
<h3>Summary</h3>
<p><%= @movie.overview %></p>

<h3>Cast</h3>
<% @cast.each do |member| %>
    <p><%= "#{member.name} as #{member.character}" %></p>
<% end %>
<hr>
<h3><%= @reviews.count %> Reviews</h3>
<% @reviews.each do |review| %>
<p><%= review.author %></p>
<p><%= review.eval %></p>
<% end  %>
